@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-Roboto: "Roboto", sans-serif;
}

@layer theme {
  .dard {
    @apply bg-red-300;
  }
}
@layer utilities {
  .profile p {
    display: none;
  }

  .profile:hover p {
    display: block;
  }
}
